/* Estilo do header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d09ea; /* Cor de fundo opcional */
    text-align: center;
    padding: 10px;
}

/* Estilo do container dentro do header */
.header-container {
    width: 100%;
}

/* Estilo do conteúdo dentro do header */
.header-content {
    max-width: 600px; /* Ajuste a largura conforme necessário */
    margin: 0 auto;
}

/* Estilo dos elementos de texto */
.header-content h1 {
    font-size: 2.5rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
}




/* Estilo do container */
.container {
    padding: 20px;
}

/* Estilo do card polaroide */
.polaroid-card {
    background: rgb(9, 228, 49);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 700px; /* Largura máxima do card */
    margin: 0 auto 20px; /* Centraliza o card e adiciona espaço inferior */
}

/* Estilo da imagem do card */
.polaroid-img {
    width: 100%;
    height: 350px; /* Define uma altura fixa */
    object-fit:fill; /* Ajusta a imagem para cobrir o contêiner, cortando se necessário */
    display: block;
}

/* Estilo do corpo do card */
.polaroid-body {
    padding: 15px; /* Diminuído o padding */
    text-align: left;
}

/* Estilo do título do card */
.polaroid-title {
    font-size: 1.5rem; /* Tamanho da fonte reduzido */
    margin: 8px 0; /* Ajuste na margem */
}

/* Estilo do texto do card */
.polaroid-text {
    font-size: 0.875rem; /* Tamanho da fonte reduzido */
    margin-bottom: 15px; /* Ajuste na margem inferior */
    max-width: 600px; /* Define a largura máxima para o texto */
    padding: 10px;
    background-color: #007bff;
    word-wrap: break-word; /* Quebra as palavras longas para evitar ultrapassar o container */
    text-align: justify; /* Justifica o texto */
    margin-left: auto; /* Centraliza horizontalmente o bloco de texto */
    margin-right: auto; /* Centraliza horizontalmente o bloco de texto */
    border-radius: 2%;
}

/* Estilo do botão do card */
.polaroid-btn {
    display: inline-block;
    padding: 8px 16px; /* Padding reduzido */
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px; /* Bordas arredondadas menores */
    font-size: 0.875rem; /* Tamanho da fonte reduzido */
    transition: background-color 0.3s;
}

.polaroid-btn:hover {
    background-color: #0056b3;
}
